.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.Remove{
    background-color: Transparent;
    cursor: pointer;
    overflow: hidden;
    padding: 5px;
    border: none;
    color: white;
    outline:none;
}

.Remove img{
    width: 75px;
    height: 75px;
}

.Button:disabled{
    background: lightgray;
    color: white;
    cursor: not-allowed; 
}

.Confirm{
    background: rgb(50, 205, 50);
    color: white;
}

.Delete{
    background: rgb(255, 51, 51);
    color: white;
}

.Add{
    background: rgb(51, 153, 255);
    color: white;
}